@model IEnumerable<InterpolAlertApi.Dtos.GravitaDto>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-success">@ViewBag.SuccessMessage</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h1>Lista delle Gravita</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.GravitaId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NomeGravita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.GravitaId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.NomeGravita)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-gravitaId="@item.GravitaId" method="post">
                        <a class="btn btn-sm btn-primary" asp-controller="Gravita" asp-action="Edit" asp-route-gravitaId="@item.GravitaId">Modifica Gravità</a>
                        <button class="btn btn-sm btn-danger" type="submit"
                                new { onclick="return confirm('Sei sicuro di voler eliminare questo?');">
                            Elimina
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
