@model IEnumerable<InterpolAlertApi.Dtos.FazioneDto>

@{
    ViewData["Title"] = "Index";
}
<h2 class="text-success">@ViewBag.SuccessMessage</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h1>Lista Fazioni</h1>

<p>
    <a asp-action="Create">Crea Fazione</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFazione)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFazione)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-fazioneId="@item.FazioneId" method="post">
                        <a class="btn btn-sm btn-primary" asp-controller="Fazione" asp-action="Edit" asp-route-fazioneId="@item.FazioneId">Edit</a>
                        <button class="btn btn-sm btn-danger" type="submit"
                                new { onclick="return confirm('Sei sicuro di voler eliminare @item.NomeFazione?');">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
