@model InterpolAlertApi.Dtos.EventoDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>sei sicuro di voler cancellare questo Evento?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOraInizio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOraInizio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOraFine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOraFine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrVittime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrVittime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrDecessi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrDecessi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrFeriti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrFeriti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoteVarie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteVarie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mediatore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mediatore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FFSpeciali)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FFSpeciali)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Polizia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Polizia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VigiliDelFuoco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VigiliDelFuoco)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-NomeEvento="@Model.NomeEvento" asp-route-EventoId="@Model.EventoId">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
