@model IEnumerable<InterpolAlert.ModelsForView.MandanteViewModel>

@{
    ViewData["Title"] = "Index";
}
<h2 class="text-success">@ViewBag.SuccessMessage</h2>
<h1>Lista Mandanti</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeMandante)
            </th>
            <th>
                Fazione
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeMandante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fazione.NomeFazione)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-mandanteId="@item.MandanteId" asp-route-nomeMandante="@item.NomeMandante" method="post">
                        <a class="btn btn-sm btn-primary" asp-controller="Mandante" asp-action="Edit" asp-route-FazioneId="@item.Fazione.FazioneId" asp-route-mandanteId="@item.MandanteId">Modifica Mandante</a>
                        <button class="btn btn-sm btn-danger" type="submit"
                                new { onclick="return confirm('Sei sicuro di voler eliminare @item.NomeMandante?');">
                            Elimina
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
