@model IEnumerable<InterpolAlertApi.Dtos.LocalitaDto>

@{
    ViewData["Title"] = "Index";
}
<h2>@ViewBag.Message</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h2 class="text-success">@ViewBag.SuccessMessage</h2>
<h1>Lista delle Localita inserite!</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.LocalitaId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NomeLocalita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitudine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitudine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivelloRischio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                   @item.LocalitaId
                </td>*@
                <td>
                    @item.NomeLocalita
                </td>
                <td>
                    @item.Latitudine
                </td>
                <td>
                    @item.Longitudine
                </td>
                <td>
                    @item.Nazione
                </td>
                <td>
                    @item.LivelloRischio
                </td>
                <td>
                    <form asp-action="Delete" asp-route-localitaId="@item.LocalitaId" method="post">
                        <a class="btn btn-sm btn-primary" asp-controller="Localita" asp-action="Edit" asp-route-localitaId="@item.LocalitaId">Edit</a>
                        <button class="btn btn-sm btn-danger" type="submit"
                                new { onclick="return confirm('Are you sure you wish to delete this?');">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
