@model IEnumerable<InterpolAlertApi.Dtos.TipoEventoDto>

@{
    ViewData["Title"] = "Index";
}
<h2 class="text-success">@ViewBag.SuccessMessage</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<h1>Lista Tipi Evento</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.TipoEventoId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NomeTipoEvento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.TipoEventoId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.NomeTipoEvento)
                </td>
                <td>
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    <form asp-action="Delete" asp-route-tipoEventoId="@item.TipoEventoId" method="post">
                        <a class="btn btn-sm btn-primary" asp-controller="TipoEvento" asp-action="Edit" asp-route-tipoEventoId="@item.TipoEventoId">Edit</a>
                        <button class="btn btn-sm btn-danger" type="submit"
                                new { onclick="return confirm('Sei sicuro di voler eliminare @item.NomeTipoEvento?');">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
