@model IEnumerable<InterpolAlert.ModelsForView.AutoreViewModel>

@{
    ViewData["Title"] = "Index";
}
<h2 class="text-success">@ViewBag.SuccessMessage</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<h1>Lista Autori schedati</h1>

<p>
    <a asp-action="Create">Inserisci nuovo Autore</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeAutore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pericolosita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteVarie)
            </th>
            <th>
                Fazione
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeAutore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pericolosita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoteVarie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fazione.NomeFazione)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-autoreId="@item.AutoreId" method="post">
                        <a class="btn btn-sm btn-primary" asp-controller="Autore" asp-action="Edit" asp-route-FazioneId="@item.Fazione.FazioneId" asp-route-autoreId="@item.AutoreId">Modifica</a>
                        <button class="btn btn-sm btn-danger" type="submit"
                                new { onclick="return confirm('Sei sicuro di voler eliminare @item.NomeAutore?');">
                            Elimina
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
